h1, h2 {
    text-align: center;
}

#contenido {
    min-height: 80vh;
  display: flex;
  place-content: center;
  justify-content: center;
  justify-content: center;
  align-items: center;
}
.borrar-tweet,
.borrar-tweet:hover {
    float: right;
    cursor: pointer;
    color: red;
    font-weight: bold;
}
